In [1]:
#### import necesary libraries

In [2]:
import pandas as pd
import os

In [3]:
#### Merging all 12 months sales data into one single file

In [13]:
path = "./Sales_Data/"
files = os.listdir(path)
files = [file for file in files if file.endswith('.csv')]
# print(files)

all_months_data = pd.DataFrame()

for file in files:
    current_data = pd.read_csv(path+"/"+file)
    all_months_data = pd.concat([all_months_data, current_data])
   
all_months_data.to_csv("all_data.csv", index=False)

In [14]:
## read in updated dataframe

all_data = pd.read_csv("all_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [16]:
### clean up the data!!

In [18]:
sum(all_data.isnull())

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
QUES1 - what was the best month for sales? How much was earned that month?

In [10]:
max(all_data)

'Quantity Ordered'